body{
	background-color:#F8F9F9;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:black;
}
.container{
	width:70%;
}
p
{
  color: rgba(0,0,0,0.7);
}
header
{
	padding:50px 0;
  
}
/*common end*/
h1{
  font-size: 25px;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 38px;
  color: #FFC0CB;
}
.menu ul li a
{

}
.menu ul li a:hover
{
   color:#FFC0CB !important;
}
.menu ul li:first-child a
{
	padding-left: 0 !important;
}
i
{
	color: #FFC0CB;
}
.blog-reading{
	margin-bottom:30px;
}
.col-lg-12{
	background-color:white;
}
.blogpost{
	width:80%;
	margin:0 auto;
}
.author{
	padding-top:15px;
}
p{
	line-height:1.5rem;
	padding-top:15px;
}
/*footer strt*/
.footer
{
	margin:0;
	padding:0;
}
.wrap
{
	max-width:1170px;
	background-color:red;
	margin:0 auto;
}


/*footer end*/
